.heading{
    width:100%;
    text-align:left;
}
.heading h3{
    display: inline;
    color:lime
}
.heading button{
    float:right;
    border: 3px solid greenyellow;
}
.big_image{
    width:50%;
}
#start, #status{
    font-size: 22px;
    font-family: fantasy;
    color:lightseagreen;
}
h4{
    background-color:paleturquoise;
    line-height:2;
    margin:0px
}
.modal-dialog{
    width:90%;
}
.instruction_image{
    display:inline-block;
    width:40%;
}
video{
    background:url('game_console.png');
    background-size:cover;
    background-position:center;
    padding:25px;
}
